@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

.background-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.background-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1 {
    background-image: url('image2.jpg');
}

.image2 {
    background-image: url('image1.jpg');
}

.image3 {
    background-image: url('image3.jpg');
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    padding: 20px 70px;
    color: #fff;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container .time {
    font-size: 70px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.place-container .country {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.current-info .others {
    background: rgba(23, 61, 55, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.future-forecast {
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    justify-content: left;
}

.weather-forecast {
    display: flex;
}

.weather-forecast-item {
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}
